body {
    font-family: verdana;
    text-align: center;
    background-color: white;
}

/* MAIN HEADER + LINKS */

#main-header {
    color: white;
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
    background-size: cover;
}

.main-navigation {
    color:white;
    font-size: 20px;
}

a {
    color: white;
}

.callout {
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 80px;
    color: white;
    
}

/* MAIN CONTENT */

h2 {
    font-size: 40px;
    color: black;
}

h3 {
    font-size: 30px;
    color: black;
}

/* FOOTER */

#footer {
    background-color:grey;
    color:white;
    text-align:left;
}
.footer-navigation{
    font-size: 20px;
}


